@model IEnumerable<MuscleStore.Models.Category>

@{
    ViewData["Title"] = "Categories Management";
}

<h1>Categories Management</h1>
<a class="black-color" asp-action="Create">Create New Category</a>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="black-color" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="black-color" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="black-color" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
